<div class="jumbotron jumbotron-fluid">
    <div class=".container col-lg-8 px-4" *ngIf="auth.user | async as user;else loggedOut">
    <h1 id="teamName" class="display-4">{{user.teamName}}</h1>
    <div class="row">
    <a class="btn btn-outline-warning" routerLink="/teams/{{user.teamId}}" role="button">Team beheer</a>
    <a class="btn btn-outline-warning" routerLink="/admin/{{user.id}}" role="button" *ngIf="checkAdmin(user.roles)">Competitie beheer</a>
  </div>
    </div>
    <ng-template #loggedOut>
    <div class=".container">
            <h1 class="display-4">Hallo, welkom</h1>
            <p class="lead col-md-5">Kerncompetitie Herzele is nog op zoek naar zaalvoetbalploegen. Meld jouw ploeg hieronder aan.</p>
            <a class="btn btn-outline-warning" routerLink="/register" role="button">Team aanmelden</a>
    </div>
  </ng-template>
  </div>
