<div class="card">
    <div class="card-header bg-warning">
      <b>Berichten</b>
    </div>
    <div class="card-body">
  <table mdbTable class="table table-striped" *ngIf="messages && messages.length>0">
    <thead>
      <tr>
        <th *ngFor="let head of displayedColumns" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let el of messages">
        <th scope="row">{{el.date.toDate() | date:"dd/MM/yyyy"}}</th>
        <td>{{el.senderName}}</td>
        <td>{{el.subject}}</td>
        <td>{{el.body}}</td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!messages || messages.length==0">
    Geen berichten
  </p>
  </div>