
<div class="history" *ngIf="currentItem">
    <p  *ngIf="currentItem.imgUrl" class="history-img">
        <img class="img-fluid" src="{{currentItem.imgUrl}}">
    </p>

    <div *ngFor="let item of currentItem.text">
      <p>{{item}}</p>
    </div>
    <div class="row justify-content-around">
      <button (click)="previousStory()" *ngIf="previousButton" class="btn btn-outline-warning"><fa name="{{previousButton}}"></fa></button>
      <button (click)="nextStory()" *ngIf="nextButton" class="btn btn-outline-warning"><fa name="{{nextButton}}"></fa></button>
    </div>
</div>




    

