.history-img {
    height: 30%;
    width: 100%;
}



@media only screen and (min-width: 768px){

    .history-img {
        height: 30%;
        width: 60%;
        float: left;
        margin-right: 3%;
    }
    
    .history {
        clear: left;
    }

}