
<div class="modal-header">
    <h4 class="modal-title">Welkom, {{userName}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div *ngFor="let alert of messages">
          <div  class="alert alert-success" role="alert">
              {{alert}}
            </div>      
          </div>
    <p>
      Uw team werd toegevoegd, onze administrators zullen dit goedkeuren zodra de betaling in orde is. Gelieve ondertussen ook uw spelerslijst aan te vullen.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close();">Teambeheer</button>
  </div>
