<div class="card">
  <div class="card-header bg-warning">
    <b>Spelers</b>
  </div>
  <div class="card-body">
<table mdbTable class="table table-striped" *ngIf="players && players.length>0">
  <thead>
    <tr>
      <th *ngFor="let head of displayedColumns" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let el of players; let i = index" [attr.data-index]="i">
      <th scope="row">{{i+1}}</th>
      <td>{{el.firstName}}</td>
      <td>{{el.lastName}}</td>
      <td>{{el.registerDate.toDate() | date:'dd/MM/yyyy'}}</td>
      <td *ngIf="el.confirmed">{{el.confirmDate.toDate() | date:'dd/MM/yyyy'}}</td>
      <td *ngIf="!el.confirmed">Administrator confirmatie nodig</td>
    </tr>
  </tbody>
</table>
<p *ngIf="!players||players.length==0">
  Gelieve spelers te registreren.
</p>
<a class="btn btn-outline-warning" value="Add new player" routerLink="register-player">Registreer nieuwe speler</a>
</div>
  