<div *ngIf="messages.length>0">
<div class="row">
  <div class="card border-light col-lg-4">
      <div class="card-header bg-warning">
          <b>Algemene berichten</b>
        </div>
            <div class="list-group bg-black">
                <button *ngFor="let message of messages" (click)="selectMessage(message)"
                class="list-group-item list-group-item list-group-item-dark d-flex justify-content-between align-items-start bg-black a-drop">
                  {{message.title}}
                  <fa name="chevron-circle-right"></fa>
                </button>
              </div>     
  </div>
  <div class="col-lg-8">
      <app-article [message]="selectedMessage"></app-article>
  </div>
</div>
</div>
