.info{
    height: 100%;
    width: 150%;
}

@media only screen and (min-width: 600px){

    .info {
        height: 100%;
        width: 150%;
    }
}


@media only screen and (min-width: 768px){
    .info {
        height: 60%;
        width: 80%;
    }
}