
<app-header></app-header>
<ngb-tabset justify="fill">
    <ngb-tab title="Geschiedenis">
        <ng-template ngbTabContent>
            <div class="card">
                <div class="card-header bg-warning">
                  <b>Geschiedenis van de kerncompetitie in Herzele</b>
                </div>
                <div class="card-body">
                  <div class="card-text">
                      <app-history></app-history>
                  </div>
                </div>
              </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Info folder">
          <ng-template ngbTabContent>
              <div class="card">
                <div class="card-header bg-warning d-flex justify-content-between">
                  <b>Info flyer</b>
                  <facebook-share-button [share]="shareObj"></facebook-share-button>
                </div>
                  <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <img class="img-fluid info" src="https://firebasestorage.googleapis.com/v0/b/kernherzele.appspot.com/o/images%2FAffiche-HKZ-A2.svg?alt=media&token=5af1b056-c79f-43ae-87ea-2767f5148964">
                    </div>
                  </div>
                </div>
            </ng-template>
          </ngb-tab>
</ngb-tabset>
              