<div *ngIf="!isLoading&&!forgotPassword">
    <form [formGroup]="login" (ngSubmit)="tryLogin()" class="px-4 py-3">
      <div class="alert alert-danger" role="alert" *ngIf="error">
        {{error}}
      </div>
      <div class="d-flex align-items-center px-4 py-3" *ngIf="succes" aria-hidden="true">
          <div class="alert alert-success" role="alert">{{succes}}</div>
        </div>
      <h5>Teamverantwoordelijken</h5>
      <div class="form-group">
          <label for="exampleInputEmail1">E-mail adres</label>
          <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Paswoord</label>
            <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
        <div class="d-flex justify-content-around">
          <input type="submit" class="btn btn-warning " value="Log in">
          <button type="button" class="btn btn-warning" (click)="forgotPasswordToggle()">Passwoord vergeten</button>
        </div>
    </form>
</div>
<div *ngIf="!isLoading&&forgotPassword">
  <div>
    <form [formGroup]="recoverPassword" (ngSubmit)="sendEmail()" class="px-4 py-3">
      <div class="alert alert-danger" role="alert" *ngIf="error">
        {{error}}
      </div>
      <div class="alert alert-success" role="alert" *ngIf="succes">{{succes}}</div>
     
      <h5>Passwoord vergeten</h5>
      <p>Geef uw e-mailadres verbonden aan uw ploeg, een e-mail wordt verzonden naar uw account om uw passwoord te resetten!</p>
      <div class="form-group">
          <label for="exampleInputEmail1">E-mail adres</label>
          <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
      <div class="d-flex justify-content-around">
        <button type="submit" class="btn btn-warning">Verzenden</button>
        <button type="button" (click)="forgotPasswordToggle()" class="btn btn-warning">Terug naar inloggen</button>
      </div>
    </form>
  </div>
</div>
    <div class="d-flex align-items-center px-4 py-3" *ngIf="isLoading">
      <strong>Bezig met inloggen...</strong>
      <div class="spinner-border text-warning ml-auto" role="status" aria-hidden="true"></div>
  </div>
