<div class="card" *ngIf="message">
    <img src="{{message.image}}" class="card-img-top img-fluid" style="max-height: 25rem" alt="{{message.title}}">
    <div class="card-body">
      <h5 class="card-title">{{message.title}}</h5>
      <p class="card-text">{{message.content}}</p>
      <p class="card-text" *ngIf="message.creationDate"><small class="text-muted">{{message.creationDate.toDate() | date:'dd/MM/yyyy'}}</small></p>
    </div>
  </div>
