<div class="card">
  <div class="card-header bg-warning">
    <b>Info</b>
  </div>
  <div class="card-body">
    <div *ngIf="!team.confirmed">
      Om uw inschrijving te vervolledigen vragen wij u om de eerste schijf van de betaling over te schrijven
      <ul>
        <li>Bedrag : <b>€250</b> (eerste schijf)</li>
        <li>Voor : <b>10/08/2019</b> </li>
        <li>op rekening :<b> 6718 5772 6918 – EURBBE99 (Europabank)</b></li>
        <li>met melding : <b>{{team.name}} kern 2019 - 2020</b></li> 
      </ul>
      Zodra wij de betaling binnengekregen hebben kunnen wij uw inschrijving als deelnemende club voor seizoen 2019-2020 bevestigen. 
    </div>
</div>
  