<app-header></app-header>
<h1 *ngIf="team">{{team.name}}</h1>
<div>       
    <div *ngIf='successMessages'  class="alert alert-success" role="alert">
            {{successMessages}}
      </div>      
      <div  *ngIf='errorMessage' class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
</div>
<div class="row">
<form [formGroup]="registerPlayer" class="col-lg-6 needs-validation" (ngSubmit)="addPlayerToTeam()" novalidate>
    <div class="form-group">
            <label for="firstName">Voornaam</label>
            <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="Jan">
            <div class="alert alert-danger" *ngIf="registerPlayer.controls.firstName.invalid && (registerPlayer.controls.firstName.dirty||registerPlayer.controls.firstName.touched)">
                Voornaam is verplicht!
            </div>
    </div>
  <div class="form-group">
      <label for="lastName">Naam : </label>
      <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="vb. Peeters">
      <div class="alert alert-danger" *ngIf="registerPlayer.controls.lastName.invalid && (registerPlayer.controls.lastName.dirty||registerPlayer.controls.lastName.touched)">
           Naam is verplicht!
      </div>
  </div>
  <div class="form-group">
      <label for="birthdate">Geboortedatum : </label>
      <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" formControlName="birthdate" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-warning" (click)="d.toggle()" type="button"><fa name="calendar"></fa></button>
      </div>
      <div class="alert alert-danger col-12" *ngIf="registerPlayer.controls.birthdate.invalid && (registerPlayer.controls.birthdate.dirty||registerPlayer.controls.birthdate.touched)">
          Geboortedatum is verplicht!
      </div>
    </div>
  </div>
  <button *ngIf="!isLoading&&!selectedPlayer" [disabled] = "registerPlayer.invalid" type="submit" class="btn btn-outline-primary btn-lg">Opslaan</button>
  <button *ngIf="selectedPlayer&&!isLoading" class="btn btn-outline-primary btn-lg" (click)="updatePlayer()" type="button" [disabled]="registerPlayer.invalid">Wijzig</button>
  <button *ngIf="isLoading" class="btn btn-outline-primary btn-lg" type="button" disabled>
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    Laden ...
  </button>
  <button type="reset" class="btn btn-outline-danger btn-lg">Reset</button>
  </form>
  <div class="card col-lg-6">
    <div class="card-header bg-warning">
      <b>Spelers</b>
    </div>
    <div class="card-body">
        <div class="d-flex align-items-center" *ngIf="isLoading">
            <strong>Loading...</strong>
            <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
          </div>
  <table mdbTable class="table table-striped" *ngIf="players.length>0 && !isLoading">
    <thead>
      <tr>
        <th *ngFor="let head of displayedColumns" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let el of players; let i=index" [attr.data-index]="i">
        <th scope="row">{{i+1}}</th>
        <td>{{el.firstName}}</td>
        <td>{{el.lastName}}</td>
        <td>{{el.birthdate.toDate() | date:'dd/MM/yyyy'}}</td>
        <td><button *ngIf="!el.confirmed" class="btn btn-outline-warning" (click)="changePlayer(el)" type="button"><fa name="cog"></fa></button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
