<app-header></app-header>
<ngb-tabset justify="fill">
  <ngb-tab title="Algemeen">
    <ng-template ngbTabContent>
      <div class="card" *ngIf="adminUser">
        <div class="card-header bg-warning">
          <b>Persoonlijke gegevens</b>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{getFullName()}}</h5>
          <div class="card-text">
            <ul>
              <li><b>Naam : </b>{{getFullName()}}</li>
              <li><b>E-mail : </b><span>{{adminUser.email}}</span></li>
              <li><b>Tel: </b><span>{{adminUser.phone}}</span></li>
            </ul>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Teams">
    <ng-template ngbTabContent>
      <app-teams [teams]="teams"></app-teams>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Berichten">
    <ng-template ngbTabContent>
      <app-messages></app-messages>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Pagina berichten">
    <ng-template ngbTabContent>
      <app-news-feed></app-news-feed>
    </ng-template>
  </ngb-tab>
</ngb-tabset>


 

  



