
<div class="card">
  <div class="card-header bg-warning">
    <b>Pagina berichten</b>
          </div>
          <div class="card-body">
            <h5 class="card-title">Berichten</h5>
            <div class="card-text" *ngIf="!isSelected">
              <table mdbTable class="table table-striped">
                <thead>
                  <tr>
                    <th *ngFor="let head of displayedColumns" scope="col">{{head}} </th>
                  </tr>
                </thead>
                <tbody>
                  <tr mdbTableCol *ngFor="let el of messages; let i = index" [attr.data-index]="i">
                    <th scope="row">{{i+1}}</th>
                    <td>todo</td>
                    <td>{{el.title}}</td>
                    <td>{{el.content}}</td>
                    <td><button *ngIf="!el.confirmed" class="btn btn-outline-warning" type="button"><fa name="cog"></fa></button>
                      <button *ngIf="!el.confirmed" class="btn btn-outline-danger" type="button"><fa name="trash-alt"></fa></button></td>
                 </tr>
                </tbody>
              </table>            
            </div>
            <div class="card-text" *ngIf="isSelected">
                <app-edit-news-feed></app-edit-news-feed>
            </div>
        </div>

