
<app-header></app-header>

<div  *ngIf='errorMessage' class="alert alert-danger" role="alert">
    {{errorMessage}}
  </div>
<div class="card" *ngIf="team">
  <div class="card-header bg-warning">
    <b>{{team.name}}</b>
  </div>
  <div class="card-body">
      <div *ngIf="!isTeamLoading">
      <div class="card-text">
        <div class="row">
          <div class="col-md-6" *ngIf="team">
    <h5 class="card-title">Teamgegevens</h5>
      <ul>
        <li><b>Registratiedatum : </b><span>{{team.registrationDate.toDate() | date:'dd/MM/yyyy'}}</span></li>
        <li><b>Goedgekeurd op : </b><span *ngIf="team.confirmed && team.confirmedDate">{{team.confirmedDate.toDate() | date:'dd/MM/yyyy'}}</span></li>
        <li><b>Goedgekeurd door : </b><span *ngIf="team.confirmed">{{team.confirmAdmin}}</span></li>
        <li *ngIf="team.changeRequest"><b>Aanvraag tot wijziging verzonden op : </b><span>{{team.changeRequestDate.toDate() | date:'dd/MM/yyyy'}}</span></li>
        <li *ngIf="team.changeRequest"><b>Aanvraag tot wijziging door admin : </b><span>{{team.changeRequestAdmin}}</span></li>
      </ul>
    </div>
    <div class="col-md-6" *ngIf="teamResp">
    <h5 class="card-title">Teamverantwoordelijke</h5>
      <ul>
        <li><b>Naam : </b><span>{{getRespFullName()}}</span></li>
        <li><b>E-mail: </b><span>{{teamResp.email}}</span></li>
        <li><b>Tel. :</b><span>{{toConfirm}}</span></li>
      </ul>
      </div>
    </div>
      </div>
      <div class="card-footer bg-transparent border-warning" >
        <div class="row" *ngIf="!team.confirmed && toConfirm == 0 && successTeamMessage.length==0">
          <button class="btn btn-outline-primary" (click)="openForm(1)">Team goedkeuren</button>
          <button class="btn btn-outline-warning" (click)="openForm(2)">Team aanvraag tot wijziging</button>
          <button class="btn btn-outline-danger" (click)="openForm(3)">Team afkeuren</button>
        </div>
        <div *ngIf="!team.confirm && toConfirm==0 && successTeamMessage.length>0">
        <div *ngFor="let alert of successTeamMessage">
            <div  class="alert alert-success" role="alert">
                {{alert}}
              </div>      
            </div>
          </div>
        <div class="alert alert-danger" role="alert" *ngIf="!team.confirm && toConfirm==0 && errorMessage">
            {{errorTeamMessage}}
      </div>
        <div *ngIf="toConfirm > 0">
          <form [formGroup]="confirm" (ngSubmit)="confirmTeam(content)">
              <div class="form-group">
                  <label for="txtarea">Boodschap voor Teamverantwoordelijke :</label>
                  <textarea class="form-control" id="txtarea" rows="3" formControlName="sendConfirm"></textarea>
                </div>
              <div class="form-group">
                <button type="submit" class="btn btn-outline-primary">Verzenden</button>
                <button (click)="goBack()" class="btn btn-outline-warning">Annuleer</button>
              </div>
          </form>
        </div>
        </div>
      </div>
        <div class="d-flex align-items-center card-text" *ngIf="isTeamLoading">
                <strong>Loading...</strong>
                <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
        </div>
      </div>
</div>

    <div class="card" *ngIf="players.length>0">
        <div class="card-header bg-warning">
          <b>Aangevraagde spelers</b>
        </div>
        <div class="card-body">
            <div *ngIf="!isPlayerLoading" class="card-text">
                <div *ngIf="successPlayerMessage.length>0">
                    <div *ngFor="let alert of successPlayerMessage">
                        <div  class="alert alert-success" role="alert">
                            {{alert}}
                          </div>      
                        </div>
                      </div>
                      <div *ngIf="errorPlayerMessage.length>0">
                          <div *ngFor="let alert of errorPlayerMessage">
                              <div  class="alert alert-danger" role="alert">
                                  {{alert}}
                                </div>      
                              </div>
                            </div>
          <table mdbTable class="table table-striped">
              <thead>
                <tr>
                  <th *ngFor="let head of displayedColumns" scope="col">{{head}} </th>
                </tr>
              </thead>
              <tbody>
                <tr mdbTableCol *ngFor="let el of players; let i = index" [attr.data-index]="i">
                  <th scope="row">{{i+1}}</th>
                  <td>{{el.firstName}}</td>
                  <td>{{el.lastName}}</td>
                  <td>{{el.birthdate.toDate() | date: 'dd/MM/yyyy'}}</td>
                  <td>{{el.registerDate.toDate() | date:'dd/MM/yyyy'}}</td>
                  <td *ngIf="el.confirmed">{{el.confirmDate.toDate() | date:'dd/MM/yyyy'}}</td>
                  <td *ngIf="!el.confirmed">Confirmatie nodig</td>
                  <td>{{el.confirmedAdminName}}</td>
                  <td><button *ngIf="!el.confirmed" (click)="confirmPlayer(el)" class="btn btn-outline-warning" placement="top" ngbTooltip="Speler goedkeuren" type="button"><fa name="user-plus"></fa></button>
                    <button *ngIf="!el.confirmed" class="btn btn-outline-danger" placement="right" ngbTooltip="Speler afkeuren, bericht is verplicht" type="button"><fa name="user-slash"></fa></button></td>
               </tr>
              </tbody>
            </table>
      </div>
      <div *ngIf="isPlayerLoading" class="card-text">
          <div class="d-flex align-items-center">
              <strong>Loading...</strong>
              <div class="spinner-border text-warning ml-auto" role="status" aria-hidden="true"></div>
            </div>
      </div>
      </div>
      </div>
