
        <div class="card" *ngIf="teams">
            <div class="card-header bg-warning">
              <b *ngIf="title">{{title}}</b>
            </div>
            <div class="card-body">
              <h5 class="card-title">Aangevraagde teams</h5>
              <div class="card-text">
                  <table mdbTable class="table table-striped" *ngIf="teams&&teams.length>0">
                      <thead>
                        <tr>
                          <th *ngFor="let head of displayedColumns" scope="col">{{head}} </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr mdbTableCol *ngFor="let el of teams;let i = index">
                          <th scope="row">{{i+1}}</th>
                          <td>{{el.name}}</td>
                          <td>{{el.respName}}</td>
                          <td>{{el.registrationDate.toDate() | date:'dd/MM/yyyy'}}</td>
                          <td *ngIf="el.confirmed">{{el.confirmedDate.toDate() | date:'dd/MM/yyyy'}}</td>
                          <td *ngIf="!el.confirmed">Actie nodig</td>
                          <td><button class="btn btn-outline-warning" routerLink="teams/{{el.id}}" >  <fa name="info-circle"></fa>
                          </button></td>
                        </tr>
                      </tbody>
                    </table>
              </div>
              </div>
        </div>

