<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    
      <a class="navbar-brand" routerLink="">
        <img src="assets/logo_onder_4.png" width="40" height="40"/>
      </a>
      <button class="navbar-toggler btn btn-warning" type="button" 
      (click)='isNavbarCollapsed=!isNavbarCollapsed' 
      data-target="#navbarNav" aria-controls="navbarNav" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="btn btn-outline-warning" routerLink="information" role="button"><fa name="info"></fa></a>
            </li>
            <!--
             <li ngbDropdown class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle id="compDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Competitie
                  </a>
              <div ngbDropdownMenu aria-labelledby="compDropDown" class="bg-dark menu-drop">
                 <a ngbDropdownItem href="#" class="a-drop">Stand</a>
                  <a ngbDropdownItem href="#" class="a-drop">Wedstrijdschema</a>
                  <a ngbDropdownItem href="#" class="a-drop">Speelgerechtigde spelers & kaarten</a>
              </div>
            </li>
           <li ngbDropdown class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle id="bekerDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Beker
                  </a>
              <div ngbDropdownMenu aria-labelledby="bekerDropDown" class="bg-dark menu-drop">
                  <a ngbDropdownItem href="#" class="a-drop">Groepsfase</a>
                  <a ngbDropdownItem href="#" class="a-drop">Knock-out</a>
              </div>
            </li>-->
          </ul>
        <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item">
        <div *ngIf="!user && !isLoading" class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <div ngbDropdown class="d-inline-block" placement="left-top" autoClose="outside" >
            <button class="btn btn-outline-warning" id="dropdownForm1" ngbDropdownToggle placement="bottom" ngbTooltip="Enkel voor teamverantwoordelijken">Aanmelden</button>
            <div ngbDropdownMenu class="bg-dark" id="loginDrop" aria-labelledby="dropdownForm1">
              <app-login></app-login>
            </div>
            </div>
            </div>
          </li>
        </ul>
      <div *ngIf="user && !isLoading" class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <div ngbDropdown class="d-inline-block">
                  <button class="btn btn-warning" id="dropdownMenu1" ngbDropdownToggle>{{user}}</button>
                  <div ngbDropdownMenu class="dropdown-menu bg-dark menu-drop" aria-labelledby="dropdownMenu1">
                    <button class="dropdown-item a-drop" routerLink="/teams/{{id}}">Team beheer</button>
                    <button class="dropdown-item a-drop" routerLink="/admin/{{uid}}"*ngIf="isAdmin">Competitie admin</button>
                    <button class="dropdown-item a-drop" (click)="logOut()">Afmelden</button>
                  </div>
                </div>
              </li>
            </ul>
        </div> 
      </div>
    </nav>
