/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "../node_modules/font-awesome/css/font-awesome.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container{
    margin-top: 2rem;
}
.btn-lg{
    margin: 1rem;
}

.bg-warning{
    background-color: #FECA29!important;
}

.nav-item .active {
    background-color: #FECA29!important;
}

.a-drop{
    color: #ffffff;
  }
  
  .a-drop:hover{
    background-color: #ffc107;
    color: black;
  }
  
  .a-drop:focus{
    background-color: #ffc107;
    color: black;
  }
  