<app-header></app-header>
<ngb-tabset justify="fill">
  <ngb-tab title="Algemeen">
    <ng-template ngbTabContent>
        <div class="card" *ngIf="teamResp">
            <div class="card-header bg-warning">
              <b>Ploeg</b>
            </div>
            <div class="card-body">
              <div class="card-text">
                <div class="row">
                <div class="col-md-6">
                  <h5 class="card-title">Ploegverantwoordelijke</h5>
                <ul>
                  <li><b>Naam : </b>{{getFullNameTeamResp()}}</li>
                  <li><b>E-mail : </b><span>{{teamResp.email}}</span></li>
                  <li><b>Tel: </b><span>{{teamResp.phone}}</span></li>
                </ul>
              </div>
              <div class="col-md-6">
                  <h5 class="card-title">Teamgegevens</h5>
                  <ul>
                    <li><b>Registratiedatum : </b><span>{{team.registrationDate.toDate() | date:'dd/MM/yyyy'}}</span></li>
                    <li><b>Goedgekeurd op : </b><span *ngIf="team.confirmed && team.confirmedDate">{{team.confirmedDate.toDate() | date:'dd/MM/yyyy'}}</span></li>
                    <li><b>Goedgekeurd door : </b><span *ngIf="team.confirmed">{{team.confirmAdmin}}</span></li>
                    <li *ngIf="team.changeRequest"><b>Aanvraag tot wijziging verzonden op : </b><span>{{team.changeRequestDate.toDate() | date:'dd/MM/yyyy'}}</span></li>
                    <li *ngIf="team.changeRequest"><b>Aanvraag tot wijziging door admin : </b><span>{{team.changeRequestAdmin}}</span></li>
                  </ul>
              </div>
                </div>
                <div *ngIf="!team.confirmed" class="alert alert-warning">
                  Welkom, uw ploeg is nog niet goedgekeurd. Bekijk het tabblad 'info' voor de betalingsinformatie.
                </div>
              </div>
              </div>
          </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Spelers">
      <ng-template ngbTabContent>           
        <app-players [players]="players" ></app-players>
      </ng-template>
    </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      Berichten <span class="badge badge-warning" *ngIf="messages">{{messages.length}}</span>
    </ng-template>
        <ng-template ngbTabContent>
           <app-team-messages [messages]="messages"></app-team-messages>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Info">
        <ng-template ngbTabContent>           
          <app-info [team]="team"></app-info>
        </ng-template>
      </ngb-tab>
</ngb-tabset>


 

  

