<div *ngIf="!isLoading">
<form [formGroup]="registerNewsFeed" class="form" (ngSubmit)="submitMessage()">
  <div class="form-group">
          <label for="title">Titel</label>
          <input type="text" formControlName="title" class="form-control" id="title" placeholder="Titel">
  </div>
<div class="form-group">
    <label for="content">Bericht  </label>
    <textarea class="form-control" id="content" rows="3" formControlName="message"></textarea>
  </div>
  <div class="row">
  <div class="form-group col-md-6">
    <label for="image">Titel</label>
    <input #file type="file" accept='image/*' formControlName="image" (change)="preview(file.files)" class="form-control" id="image">
</div>
<div class="form-group card col-md-6" style="width:18rem" *ngIf="imgURL">
  <img [src]="imgURL" class="card-img-top">
  <div class="card-body">
    
  </div>
</div>
</div>

<div>

</div>
<button type="submit" class="btn btn-outline-primary btn-lg">Opslaan</button>
<button type="reset" class="btn btn-outline-danger btn-lg">Reset</button>
</form>
</div>
<div *ngIf="isLoading">
    <div class="d-flex align-items-center">
        <strong>Bericht plaatsen...</strong>
        <div class="spinner-border text-warning ml-auto" role="status" aria-hidden="true"></div>
      </div>
</div>