  <h1>
    Aanvraag nieuw team
  </h1>
  <div>
      <div *ngIf='errorMessage' class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    </div>
    <form [formGroup]="registerTeam" (ngSubmit)="tryRegister()" class="needs-validation" novalidate>
    <div class="form-group">
            <label for="name">Club* :</label>
            <input type="text" formControlName="name" class="form-control" id="name" placeholder="vb. ZVC voorbeeld">
            <div class="alert alert-danger" *ngIf="registerTeam.controls.name.invalid && (registerTeam.controls.name.dirty||registerTeam.controls.name.touched)">
                Club naam is verplicht
            </div>
    </div>
    <div formGroupName="teamResp" class="form-row">
      <h3 class="col-md-12">Gegevens teamverantwoordelijke :</h3>
      <div class="form-group col-md-12">
          <label for="exampleInputEmail1">Email address* :</label>
          <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <div class="alert alert-danger" *ngIf="registerTeam.controls.teamResp['controls'].email.invalid && (registerTeam.controls.teamResp['controls'].email.dirty||registerTeam.controls.teamResp['controls'].email.touched)">
            E-mail adres is verplicht
      </div>
        </div>
        <div class="form-group col-md-6">
            <label for="password">Paswoord* : </label>
            <input type="password" formControlName="password" class="form-control" id="password">
            <div class="alert alert-danger" *ngIf="registerTeam.controls.teamResp['controls'].password.invalid && (registerTeam.controls.teamResp['controls'].password.dirty||registerTeam.controls.teamResp['controls'].password.touched)">
              Paswoord is verplicht, moet minstens 1 hoofdletter, 1 cijfer en 1 speciaal karakter hebben en moet minstens 8 tekens lang zijn
        </div>
    </div>
    <div class="form-group col-md-6">
        <label for="repeat">Bevestig paswoord* : </label>
        <input type="password" formControlName="repeat" class="form-control" id="repeat">
        <div class="alert alert-danger" *ngIf="registerTeam.controls.teamResp['controls'].repeat.invalid && (registerTeam.controls.teamResp['controls'].repeat.dirty||registerTeam.controls.teamResp['controls'].repeat.touched)">
          Bevestig uw paswoord
    </div>
    <div class="alert alert-danger" *ngIf="registerTeam.errors?.doesMatchPassword">Passwoord komt niet overeen!</div>

</div>
      <div class="form-group col-md-6">
          <label for="firstName">Voornaam* : </label>
          <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="vb. Jos">
          <div class="alert alert-danger" *ngIf="registerTeam.controls.teamResp['controls'].firstName.invalid && (registerTeam.controls.teamResp['controls'].firstName.dirty||registerTeam.controls.teamResp['controls'].firstName.touched)">
            Voornaam is verplicht
      </div>
  </div>
  <div class="form-group col-md-6">
      <label for="lastName">Naam* : </label>
      <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="vb. Peeters">
      <div class="alert alert-danger" *ngIf="registerTeam.controls.teamResp['controls'].lastName.invalid && (registerTeam.controls.teamResp['controls'].lastName.dirty||registerTeam.controls.teamResp['controls'].lastName.touched)">
        Naam is verplicht
  </div>
</div>
    </div>
      <div class="form-group">
          <small id="helpText" class="form-text text-muted">Uw gegevens worden niet gedeeld met derden!</small>

    <button *ngIf="!isLoading" [disabled]="registerTeam.invalid" type="submit" class="btn btn-outline-primary btn-lg">Submit</button>
    <button *ngIf="isLoading" class="btn btn-outline-primary btn-lg" type="button" disabled>
      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
      Loading...
    </button>
    <button type="reset" (click)="reset()" class="btn btn-outline-danger btn-lg">Reset</button>
    </div>
  </form>
 
      
